<!--the Open Graph contento to the Facebook crawler -->
    <meta name="twitter:card" value="summary"> 
    <meta name="description" content="Quer saber qual é o seu Pokémon?" />
    <meta property="og:title" content="Seu Pokémon é o {{json.name}} "/>
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://qual-seu-pokemon.herokuapp.com/" />
    <meta property="og:image" content="https://img.pokemondb.net/artwork/{{lowercase json.name}}.jpg"  />
    <meta property="og:description" content="Curtiu seu Pokémon? Mande o link para seus amigos."/>
    <!--the Open Graph contento to the Facebook crawler END -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
    <script src="https://use.fontawesome.com/8936b234f7.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="javascripts/app.js"></script>  
    <link href="stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row row-title justify-content-start align-items-start text-center">
        <div class="col">
          <h1 class="display-5">Qual é o seu Pokémon?</h1>
          <p class="lead">O seu Pokémon é o <span class="pokemon-name">{{json.name}}</span>.</p>
        </div>
      </div>
      <div class="row justify-content-center align-items-center">
        <div class="col">
          <div class="card text-center" style="width: 20rem;">
            <img class="card-img-top" src="pokemons/{{lowercase json.name}}.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">{{json.name}}</h4>
              <p class="card-text">{{desc}}</p>
            </div>
            <div class="card-block">
              <a href="https://pokemondb.net/pokedex/{{json.name}}" target="_blank" class="btn btn-outline-info"><i class="fa fa-info-circle" aria-hidden="true"></i> Info</a>
            </div>
          </div>
        </div>
      </div>
    </div>
